---
layout: clean
title: Arquivo de Tags
generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.tag }}' tag feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.tag }}"{% endblock %}

{% block content %}
<header class="random-bg">
    <div class="inner"><h2>Posts com a tag "{{ page.tag }}"</h2></div>
</header>

<section id="archive" class="wrapper style5 special">
    <div class="inner">

        {% set year = '0' %}
        {% for post in page.pagination.items %}
            {% set this_year %}{{ post.date | date("Y") }}{% endset %}
            {% if year != this_year %}
                {% set month = '0' %}
                {% set year = this_year %}
            {% endif %}

            {% set this_month %}{{ attribute(site.meses, post.date|date("n") - 1) }}{% endset %}
            {% if month != this_month %}
                {% set month = this_month %}
                <h3>{{ month }} de {{ year }}</h3>
            {% endif %}

            <div><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}

        <aside>
            {% if page.pagination.previous_page or page.pagination.next_page %}
                <nav class="article">
                    {% if page.pagination.previous_page %}
                        <a class="button small special" href="{{ page.pagination.previous_page.url }}" title="Página anterior">
                            <span class="title"><i class="fa fa-arrow-left"></i> Página anterior</span>
                        </a>
                    {% endif %}

                    {% if page.pagination.next_page %}
                        <a class="button small special" href="{{ page.pagination.next_page.url }}" title="Próxima página">
                            <span class="title">Próxima página <i class="fa fa-arrow-right"></i></span>
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        </aside>

    </div>
</section>

{% endblock content %}
